//引入清除默认样式
//@import "./reset.scss";
@use "./reset.scss" as *;

//滚动条外观设置
::-webkit-scrollbar {
  width: 10px;
}

//流动条背景
::-webkit-scrollbar-track {
  background-color: $base-menu-bg-color;
}

//流动条滑块
::-webkit-scrollbar-thumb {
  background-color: red;
  width: 10px;
  border-radius: 10px;
}